<!DOCTYPE html>
<html>
  <head>
    <title>Visualisation Médicale</title>
    <link rel='stylesheet' href='/stylesheets/styleUpload.css' />
  </head>
  
  <body>
    <!--<header>Visualisation Médicale</header>-->
  <div id="upload">
    <div id="titre"><h2>Visualisation Médicale</h2></div>
    <div id="form">
    <form method='POST' enctype='multipart/form-data' action='/file-upload'>
        <p>
            Veuillez indiquer le chemin de votre fichier :<br/><br/><br/>
            <input class="upload-button" type='file' name='file'/>
        </p>
      <input class="send-button" type="submit" value="Envoyer">
    </form>
    </div>
  </div>  


  </body>
  
</html>
