/* /////////////////////////////////////////////////////// */
/*														   */
/*					 		FONT	    				   */
/*														   */
/* /////////////////////////////////////////////////////// */

@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Quicksand);


html{
	background-color : #2C3E50;
	/*font-family:railwayregular, sans-serif;*/
	width: 100%;
	height: 100%;
}
/*
header {
    background-color: #E9E9E9;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    color: #3498DB;
}
*/

#upload {
    font-family: 'Quicksand', sans-serif;
    position:absolute;
    
    left: 50%;
    top: 40%;
    width: 400px;
    height: 400px;
    margin-left: -220px; 
    margin-top: -200px; 
    
   /* padding: 35px 20px;*/
    
    color: #444444;
    background-color: #ddd;
    background-image: linear-gradient(#E5E5E5, #CFCFCF);
    
    box-shadow: -1px 2px 4px 1px rgba(0, 0, 0, 0.7); 
}

#titre {
    width: 100%;
    height: 15%;
    top: 0px;
    text-align: center;
    background: none repeat scroll 0 0 #FC4C3C;
    border-color: -moz-use-text-color -moz-use-text-color #BA382C;
    border-image: none;
    /*border-radius: 5px;*/
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -2px #DB4234 inset;
}

#titre h2 {
    color: white;
    padding: 0;
    padding-top: 15px;
    margin: 0;
}

#form {
    width: 100%;
    height: 85%;    
    padding: 35px 20px;

}

.upload-button {
    left: 300px;
    padding-left: 35px;
}

.send-button {

    margin-top: 60px;
    left: 30px;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #3498DB;
    border-color: -moz-use-text-color -moz-use-text-color #2980B9;
    border-image: none;
    border-radius: 5px;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -2px #20638F inset;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    height: 54px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    vertical-align: top;
    width: 75%;
}

.send-button:active {
    box-shadow: none;
    outline: medium none;
    top: 1px;
}
input {
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
}
