/* /////////////////////////////////////////////////////// */
/*														   */
/*					 		FONT	    				   */
/*														   */
/* /////////////////////////////////////////////////////// */
@font-face {
    font-family: 'railwayregular';
    src: url('railway.eot');
    src: url('railway.eot?#iefix') format('embedded-opentype'),
         url('railway.woff') format('woff'),
         url('railway.ttf') format('truetype'),
         url('railway.svg#railwayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	background: rgb(219, 219, 255);
		font-family:railwayregular, sans-serif;
}
a:active,a:focus {
	outline: expression(hideFocus='true');
}

p {
	margin: 0 auto;
	color: #000;
}

h1, h2, h3 {
	margin: 0 auto;
	color: #D9CB9E;
}
/* /////////////////////////////////////////////////////// */
/*														   */
/*					 		HEADER						   */
/*														   */
/* /////////////////////////////////////////////////////// */
header{
	width: 100%;
	height: 5%;
	background: #3498DB;
	text-align: center;
}

/* /////////////////////////////////////////////////////// */
/*														   */
/*					 	MENU/INFOS						   */
/*														   */
/* /////////////////////////////////////////////////////// */
#wrapper {
	width: 100%;
}
#tabs2{
	width: 15%;
	height: 100%;
	float: left;
	background-color: #ECF0F1;
}

#tabs2 li{
	float: left;
	margin-right: 2px;
}

#tabs2 li a{
	display: block;
	padding: 17px 30px;
	background-color: #ECF0F1;
	/*background: #544f6b;*/
	text-decoration: none;
	color: #8478B3;
}

#tabs2 li a:hover{
	background: rgb(78, 74, 99);
}

#tabs_container {
	padding: 15px;
	overflow: hidden;
	position: relative;
	background-color: #ECF0F1;
	/*background: white;*/
}

#contenu{
	float: left;
	width: 85%;
	height: 100%;
	background-color: #374140;
}

.carre{
	width: 47%;
	float:left;
}

.webGL{	
	height: 300px;
	padding:5px;
	margin-left: 10px;
	margin-bottom: 10px;	
	background: white;
}

canvas {
	width: 100%;
	height: 100%;
}

.bar{
	position:absolute;
	height: 20px;
	padding:5px;
	margin-left: 10px;
	margin-height:10px;	
}

.clear{
	clear:both;
}

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.tabulous_active {
	background: #ECF0F1 !important;
	color: #655c89 !important;
}

.tabulousclear {
	display: block;
	clear: both;
}

/* /////////////////////////////////////////////////////// */
/*														   */
/*					 RENDER CONTENER					   */
/*														   */
/* /////////////////////////////////////////////////////// */

#renderContainer1, #renderContainer2, #renderContainer3, #renderContainer4 {
	float: left;
	width: 50%;
	height: 50%;
	/*margin: 10px;*/


}

/* /////////////////////////////////////////////////////// */
/*														   */
/*					 CONTEXTE DE RENDU					   */
/*														   */
/* /////////////////////////////////////////////////////// */

#r1, #r2, #r3, #r4 {
	background-color: #000000;
	float: left;
	width: 100%;
	height: 100%;
	border:1px solid #3498DB;
}

/* /////////////////////////////////////////////////////// */
/*														   */
/*					 		GUI							   */
/*														   */
/* /////////////////////////////////////////////////////// */
.dg.ac {
    height: 0;
    left: 0;
   /* position: fixed;*/
    right: 0;
    top: 0;
    z-index: 0;
}
.dg {
    color: #EEEEEE;
    font: 11px 'Lucida Grande',sans-serif;
    text-shadow: 0 -1px 0 #111111;
}

element.style {
    -moz-user-select: none;
    height: 245px;
}
.dg.a {
    float: right;
    margin-right: 15px;
    overflow-x: hidden;
}
.dg.main {
    transition: opacity 0.1s linear 0s;
}

.dg ul {
    clear: both;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}


.dg li.folder {
    border-bottom: 0 none;
}
.dg li.folder {
    border-left: 4px solid rgba(0, 0, 0, 0);
    padding: 0;
}
.dg li {
    transition: height 0.1s ease-out 0s;
}
li {
    list-style: none outside none;
}


.dg li.title {
    background: url("data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==") no-repeat scroll 6px 10px #000000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    padding-left: 16px;
}
.dg li:not(.folder) {
    background: none repeat scroll 0 0 #1A1A1A;
    border-bottom: 1px solid #2C2C2C;
}
.dg li.title {
    cursor: pointer;
    margin-left: -4px;
}
.dg li:not(.folder) {
    cursor: auto;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    padding: 0 4px 0 5px;
}
